absl-py=0.11.0
altgraph==0.17
astor==0.8.1
astunparse==1.6.3
bzip2==1.0.8
ca-certificates==2020.11.8
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
dbus==1.13.18
expat==2.2.10
gast==0.3.3
gettext==0.19.8.1
giflib==5.2.1
glib==2.66.1
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
icu==58.2
idna==2.10
importlib-metadata==2.0.0
imutils==0.5.3
joblib==0.17.0
jpeg==9d
keras==2.4.3
keras-applications==1.0.8
keras-preprocessing==1.1.2
leptonica==1.78.0
libarchive==3.3.3
libcxx==10.0.0
libedit==3.1.20191231
libffi==3.3
libiconv==1.16
libpng==1.6.37
libtiff==4.1.0
libwebp==1.0.2
libxml2==2.9.10
lz4-c==1.9.2
lzo==2.10
macholib==1.14
markdown==3.3.3
ncurses==6.2
numpy==1.18.5
oauthlib==3.1.0
opencv-python-headless==4.4.0.46
openjpeg==2.3.1
openssl==1.1.1h
opt-einsum==3.3.0
pcre==8.44
pdf2image==1.14.0
pillow==8.0.1
pip==20.2.4
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyqt==5.9.2
pytesseract==0.3.6
qt==5.9.7
readline==8.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
setuptools==50.3.1
sip==4.19.8
six==1.15.0
sqlite==3.33.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
tesseract==4.1.1
threadpoolctl==2.1.0
tk==8.6.10
urllib3==1.22
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
xz==5.2.5
zipp==3.4.0
zlib==1.2.11
zstd==1.4.5